[workspace]
members = [
    "agent",
    "agent-client",
    "crucible-client-types",
    "common",
    "control-client",
    "cmon",
    "crudd",
    "crutest",
    "downstairs",
    "dsc",
    "dsc-client",
    "hammer",
    "integration_tests",
    "measure_iops",
    "nbd_server",
    "package",
    "pantry",
    "pantry-client",
    "protocol",
    "repair-client",
    "smf",
    "upstairs",
]

[workspace.dependencies]

# crates.io
aes-gcm-siv = "0.11.1"
anyhow = "1"
async-recursion = "1.0.4"
async-trait = "0.1.73"
atty = "0.2.14"
base64 = "0.21.2"
bincode = "1.3"
byte-unit = "4.0.19"
bytes = { version = "1", features = ["serde"] }
chrono = { version = "0.4", features = [ "serde" ] }
clap = { version = "4.4", features = ["derive", "env", "wrap_help"] }
clearscreen = "2.0.1"
crossterm = { version = "0.27.0" }
csv = "1.2.2"
expectorate = "1.0.7"
futures = "0.3"
futures-core = "0.3"
hex = "0.4"
http = "0.2.9"
httptest = "0.15.4"
hyper = { version = "0.14", features = [ "full" ] }
hyper-staticfile = "0.9"
indicatif = { version = "0.17.6", features = ["rayon"] }
itertools = "0.11.0"
libc = "0.2.147"
mime_guess = "2.0.4"
nbd = "0.2.3"
nix = { version = "0.26", features = [ "feature", "uio" ] }
num_enum = "0.7"
num-derive = "0.4"
num-traits = "0.2"
omicron-zone-package = "0.9.1"
openapiv3 = "1.0"
opentelemetry = "0.20.0"
opentelemetry-jaeger = { version = "0.17.0" }
percent-encoding = "2.3"
proptest = "1.2.0"
rand = { version = "0.8.5", features = ["min_const_gen"] }
rand_chacha = "0.3.1"
reedline = "0.23.0"
reqwest = { version = "0.11", features = ["default", "blocking", "json", "stream"] }
ringbuffer = "0.14.2"
rusqlite = { version = "0.29" }
rustls-pemfile = { version = "1.0.3" }
schemars = { version = "0.8", features = [ "chrono", "uuid1" ] }
serde = { version = "1", features = [ "derive" ] }
serde_json = "1"
sha2 = "0.10"
signal-hook = "0.3.17"
signal-hook-tokio = { version = "0.3.1", features = ["futures-v0_3"] }
slog = { version = "2.7", features = ["max_level_trace", "release_max_level_debug"] }
slog-async = { version = "2.7" }
slog-bunyan = "2.4.0"
slog-dtrace = "0.2"
slog-term = { version = "2.9" }
statistical = "1.0.0"
subprocess = "0.2.9"
tempfile = "3"
test-strategy = "0.3.1"
thiserror = "1"
tokio = { version = "1.29", features = ["full"] }
tokio-rustls = { version = "0.24.1" }
tokio-test = "*"
tokio-util = { version = "0.7", features = ["codec"]}
toml = "0.7"
tracing = "0.1"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = "0.3.17"
twox-hash = "1.6.3"
usdt = "0.3.5"
uuid = { version = "1", features = [ "serde", "v4" ] }

# git
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main", features = [ "usdt-probes" ] }
omicron-common = { git = "https://github.com/oxidecomputer/omicron", branch = "main" }
openapi-lint = { git = "https://github.com/oxidecomputer/openapi-lint", branch = "main" }
oximeter = { git = "https://github.com/oxidecomputer/omicron", branch = "main" }
oximeter-producer = { git = "https://github.com/oxidecomputer/omicron", branch = "main" }
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }

# local path
crucible = { path = "./upstairs" }
crucible-client-types = { path = "./crucible-client-types" }
crucible-common = { path = "./common" }
crucible-control-client = { path = "./control-client" }
# importantly, don't use features = ["zfs_snapshot"] here, this will cause
# cleanup issues in the integration tests!
crucible-downstairs = { path = "./downstairs" }
crucible-pantry = { path = "./pantry" }
crucible-pantry-client = { path = "./pantry-client" }
crucible-protocol = { path = "./protocol" }
crucible-smf = { path = "./smf" }
dsc-client = { path = "./dsc-client" }
repair-client = { path = "./repair-client" }

[profile.dev]
panic = 'abort'

