[package.crucible]
rust.binary_names = ["crucible-agent", "crucible-downstairs"]
rust.release = true
service_name = "crucible"
zone = true
[[package.crucible.paths]]
from = "agent/smf"
to = "/var/svc/manifest/site/crucible"
[[package.crucible.paths]]
from = "agent/downstairs_method_script.sh"
to = "/opt/oxide/crucible/bin/downstairs_method_script.sh"

[package.crucible-pantry]
rust.binary_names = ["crucible-pantry"]
rust.release = true
service_name = "crucible-pantry"
zone = true
[[package.crucible-pantry.paths]]
from = "pantry/smf"
to = "/var/svc/manifest/site/crucible"
