[package]
name = "crucible-downstairs"
version = "0.0.1"
authors = ["Joshua M. Clulow <jmc@oxide.computer>", "Alan Hanson <alan@oxide.computer"]
license = "MPL-2.0"
edition = "2018"

[dependencies]
anyhow = "1"
bincode = "1.3"
bytes = "1"
chrono = { version = "0.4.19", features = [ "serde" ] }
crucible = { path = "../upstairs" }
crucible-common = { path = "../common" }
crucible-protocol = { path = "../protocol" }
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main" }
futures = "0.3"
futures-core = "0.3"
http = "0.2.6"
hyper = { version = "0.14", features = [ "full" ] }
hyper-staticfile = "0.8"
mime_guess = "2.0.4"
omicron-common = { git = "https://github.com/oxidecomputer/omicron", branch = "main" }
oximeter-producer = { git = "https://github.com/oxidecomputer/omicron", branch = "main" }
oximeter = { git = "https://github.com/oxidecomputer/omicron", branch = "main" }
rand = "0.8.5"
repair-client = { path = "../repair-client" }
reqwest = { version = "0.11", features = ["json"] }
ringbuffer = "0.8"
schemars = { version = "0.8.8", features = [ "uuid" ] }
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.81"
slog = { version = "2.7" }
slog-term = { version = "2.9" }
slog-async = { version = "2.7" }
structopt = "0.3"
tokio = { version = "1.17.0", features = ["full"] }
tokio-util = { version = "0.7", features = ["codec"]}
tokio-rustls = { version = "0.23.4" }
tracing = "0.1"
toml = "0.5"
opentelemetry = "0.17.0"
opentelemetry-jaeger = { version = "0.16.0" }
tracing-subscriber = "0.3.11"
tracing-opentelemetry = "0.17.2"
uuid = { version = "0.8", features = [ "serde", "v4" ] }
rusqlite = { version = "0.27" }
hex = "0.4"
sha2 = "0.10"

[dev-dependencies]
rand_chacha = "0.3.1"
tempfile = "3"

[build-dependencies]
version_check = "0.9.4"

[features]
default = []
zfs_snapshot = []
