[package]
name = "dsc"
version = "0.1.0"
license = "MPL-2.0"
edition = "2018"

[dependencies]
anyhow = "1"
byte-unit = "4.0.14"
clap = { version = "3.1.15", features = ["derive", "env"] }
csv = "1.1.6"
statistical = "1.0.0"
