[package]
name = "crucible-common"
version = "0.0.0"
authors = ["Joshua M. Clulow <jmc@oxide.computer>"]
edition = "2018"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.5"
tempfile = "3"
