[package]
name = "crucible-common"
version = "0.0.0"
authors = ["Joshua M. Clulow <jmc@oxide.computer>", "Alan Hanson <alan@oxide.computer>"]
license = "MPL-2.0"
edition = "2018"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.5"
tempfile = "3"
thiserror = "1.0"
uuid = { version = "1.2.2", features = [ "serde", "v4" ] }
twox-hash = "1.6.3"
rusqlite = { version = "0.28" }
tokio-rustls = { version = "0.23.4" }
rustls-pemfile = { version = "1.0.1" }
