[package]
name = "crucible"
version = "0.0.1"
authors = ["Joshua M. Clulow <jmc@oxide.computer>", "Alan Hanson <alan@oxide.computer"]
edition = "2018"

[lib]
name = "crucible"
path = "src/lib.rs"

[[bin]]
name = "crucible-upstairs"
path = "src/main.rs"

[build-dependencies]
usdt = "0.1.13"

[features]
asm = ["usdt/asm"]

[dependencies]
aes = "0.7.4"
anyhow = "1"
base64 = "0.13.0"
bytes = "1"
crucible-common = { path = "../common" }
crucible-protocol = { path = "../protocol" }
crucible-scope = { path = "../scope" }
futures = "0.3"
futures-core = "0.3"
rand = "0.8.4"
ringbuffer = "0.7"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
structopt = "0.3"
tokio = { version = "1.7.1", features = ["full"] }
tokio-util = { version = "0.6", features = ["codec"]}
toml = "0.5"
usdt = "0.1.13"
xts-mode = "0.4.0"
